body {
  background-color: powderblue;
}
h1 {text-align: center;}

.button-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  gap: 20px;
  padding: 10px;
  max-width: 600px;
  margin: auto;
}

.stop-button-container {
  gap: 10px;
  padding: 10px;
  max-width: 600px;
  margin: auto;
}

.img {
  width: 100%;
  aspect-ratio: 1;
  max-width: 200px;
  display: inline-block;
  object-fit: fill;
  border-radius: 10px;
}

.button {
  width: 100%;
  aspect-ratio: 1;
  background-color: #2ea44f;
  color: #ffffff; /* White text color */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-color: #ffffff;
  border-width: 3px;
  cursor: pointer;
  border-radius: 10px;
  max-width: 200px;
}

.stop-button {
  width: 100%;
  padding: 20px;
  background-color: #2ea44f;
  color: #ffffff; /* White text color */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  border-color: #ffffff;
  border-width: 3px;
  cursor: pointer;
  border-radius: 10px;
  max-width: 600px;
}

/* Adjust styles for mobile devices */
/*
@media only screen and (max-width: 300px) {
  .button-container {
      grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
      padding: 10px;
  }

  .button {
      padding: 15px;
      font-size: 14px;
  }
}*/

.volume-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: auto;
  max-width: 600px;
}

.volume-btn {
  width: 50px; /* Set a fixed width for volume buttons */
  height: 50px;
  padding: 10px;
  background-color: #2ea44f;
  color: #ffffff; /* White text color */
  font-size: 20px;
  border-color: #ffffff;
  border-width: 3px;
  margin: 10px;
  cursor: pointer;
  border-radius: 10px;
}

.slider-container {
  flex-grow: 1; /* Allow the slider to grow and take up remaining space */
  position: relative;
}

.volume-slider {
  width: 100%;
  height: 10px;
  appearance: none;
  background-color: #2ea44f;
  outline: none;
  transition: opacity 0.2s;
  border-radius: 5px;
}

.volume-slider::-webkit-slider-thumb {
  appearance: none;
  width: 25px;
  height: 25px;
  background: #ffffff; /* White color for the thumb */
  border-radius: 50%;
  cursor: pointer;
}

.volume-slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #ffffff; /* White color for the thumb */
  border: 0px;
  border-radius: 50%;
  cursor: pointer;
}

#slider-value {
  position: absolute;
  margin-top: -40px;
  font-size: 20px;
}