<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>RadioHub</title>
  <link rel="stylesheet" href="css/index.css"> <!-- Link to the external CSS file -->

  <script>
    function sendPlay(url, name) {
      var data = {
        url: url,
        name: name
      };

      var xhr = new XMLHttpRequest();
      xhr.open("POST", "{{ .Address}}:{{ .RadioPort}}/play", true);
      xhr.setRequestHeader("Content-Type", "application/json");
      xhr.onreadystatechange = function () {
        if (xhr.readyState === 4 && xhr.status === 200) {
          // Request successful, do something with the response
          console.log(xhr.responseText);
        }
      };
      xhr.send(JSON.stringify(data));
    }

    function sendStop() {
      var xhr = new XMLHttpRequest();
      xhr.open("GET", "{{ .Address}}:{{ .RadioPort}}/stop", true);
      xhr.setRequestHeader("Content-Type", "application/json");
      xhr.onreadystatechange = function () {
        if (xhr.readyState === 4 && xhr.status === 200) {
          // Request successful, do something with the response
          console.log(xhr.responseText);
        }
      };
      xhr.send();
    }

    async function sendVolume() {
      var xhr = new XMLHttpRequest();
      var value = document.getElementById("volume-slider").value;
      xhr.open("GET", "{{ .Address}}:{{ .RadioPort}}/volume/".concat(value), true);
      xhr.onreadystatechange = function () {
        if (xhr.readyState === 4 && xhr.status === 200) {
          console.log(xhr.responseText);
        }
      };
      xhr.send();
    }
  </script>
</head>

<body>
  <h1>RadioHub</h1>
  <div class="button-container" id="buttonContainer">
    <!-- Buttons will be dynamically added here -->
  </div>

  <div class="stop-button-container" id="stopButtonContainer">
    <button class="stop-button" onclick="sendStop()">Stop</button>
  </div>

  <div class="volume-container">
    <button class="volume-btn" id="volume-down">-</button>
    <div class="slider-container">
      <input type="range" class="volume-slider" id="volume-slider" min="0" max="100" step="1" value="20">
    </div>
    <span id="slider-value">Volume: 20</span>
    <button class="volume-btn" id="volume-up">+</button>
  </div>

  <script>
    fetch('{{ .Address}}:{{ .WebPort}}/stations')
      .then(response => response.json())
      .then(buttons => {
        const buttonContainer = document.getElementById('buttonContainer');

        // Add buttons dynamically
        buttons.filter(x => x.logo).forEach(stationData => {
          const img = document.createElement('img');
          img.className = 'img';
          img.src = stationData.logo

          img.addEventListener('click', () => {
            sendPlay(stationData.url, stationData.name)
          });

          buttonContainer.appendChild(img);
        });

        buttons.filter(x => !x.logo).forEach(stationData => {
          const button = document.createElement('button');
          button.className = 'button';
          button.textContent = stationData.name;

          // You can add additional attributes or event listeners here if needed
          // For example, opening a URL on button click
          button.addEventListener('click', () => {
            sendPlay(stationData.url, stationData.name)
          });

          buttonContainer.appendChild(button);
        });
      })
      .catch(error => console.error('Error loading JSON:', error));

    // Update slider value display
    const slider = document.getElementById('volume-slider');
    const sliderValue = document.getElementById('slider-value');
    const volumeUpButton = document.getElementById('volume-up');
    const volumeDownButton = document.getElementById('volume-down');

    fetch('{{ .Address}}:{{ .RadioPort}}/volume/get')
      .then(response => response.json())
      .then(value => {
        sliderValue.textContent = 'Volume: ' + value;
        slider.value = parseInt(value);
      })
      .catch(error => console.error('Error loading volume:', error));

    slider.addEventListener('input', () => {
      sliderValue.textContent = 'Volume: ' + slider.value;
      sendVolume()
    });

    // Event listener for the volume up button
    volumeUpButton.addEventListener('click', () => {
      if (parseInt(slider.value) < parseInt(slider.max)) {
        slider.value = parseInt(slider.value) + 1;
        sliderValue.textContent = 'Volume: ' + slider.value;
        sendVolume();
      }
    });

    // Event listener for the volume down button
    volumeDownButton.addEventListener('click', () => {
      if (parseInt(slider.value) > parseInt(slider.min)) {
        slider.value = parseInt(slider.value) - 1;
        sliderValue.textContent = 'Volume: ' + slider.value;
        sendVolume();
      }
    });

    // Event listener for the volume up button
    let volumeUpInterval;
    volumeUpButton.addEventListener('mousedown', () => {
      volumeUpInterval = setInterval(() => {
        if (parseInt(slider.value) < parseInt(slider.max)) {
          slider.value = parseInt(slider.value) + 1;
          sliderValue.textContent = 'Volume: ' + slider.value;
          sendVolume();
        }
      }, 100);
    });

    volumeUpButton.addEventListener('mouseup', () => {
      clearInterval(volumeUpInterval);
    });

    volumeUpButton.addEventListener('mouseout', () => {
      clearInterval(volumeUpInterval);
    });

    // Event listener for the volume down button
    let volumeDownInterval;
    volumeDownButton.addEventListener('mousedown', () => {
      volumeDownInterval = setInterval(() => {
        if (parseInt(slider.value) > parseInt(slider.min)) {
          slider.value = parseInt(slider.value) - 1;
          sliderValue.textContent = 'Volume: ' + slider.value;
          sendVolume();
        }
      }, 100);
    });

    volumeDownButton.addEventListener('mouseup', () => {
      clearInterval(volumeDownInterval);
    });

    volumeDownButton.addEventListener('mouseout', () => {
      clearInterval(volumeDownInterval);
    });
  </script>

</body>

</html>